body {
  max-width: 90%;
}

li {
	display: inline;
	margin: 15px;
}

nav {
	position: relative;
  	left: 0px;
  	width: 100%;
	text-align: center;
	clear: both;
}

body {
	font-family: 'Noto Sans HK', sans-serif;
}

button {
	background-color: #E6E6E6;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
  color: #550A21;
  text-decoration: underline;
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#username_logout {
	background-color: #550A21;
	border: none;
	box-shadow: 0px 2px #9E9E9E;
	overflow: hidden;
}

#username {
	color: white;
	float: right;
	margin-right: 5px;
	margin-bottom: 1px;
	clear: right;
}

#logout {
	color: #FFAD33;
	float: right;
	margin-right: 5px;
	margin-top: 1px;
	clear: right;
}

#logout:hover {
	color: white;
  	text-decoration: underline;
}

#title {
	color: white;
	font-family: 'Fresca', sans-serif;
	font-size: 40px;
	float: left;
	margin: 7px;
}

#mapa {
  width: 1000px;
}

#popis>li {
  display: block;
}
