.calendar-header {
	background-color: #550A21;
	color: white;
	margin: 15px;
}

.calendar-body{
    padding: 5px;
    width: auto;
    height: 260px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Didot;
    background-color: #E4E4E4;
    float: left;
}

.calendar-body>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year-1, #calendar-month-year-2{
    margin: 5px;
}

#calendar-dates-1>table>tr>td{
    padding: 5px;
}

#calendar-dates-2>table>tr>td{
    padding: 5px;
}
